APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_DRIVER=sync


GEOCODE_GOOGLE_APIKEY=
GEOCODE_GOOGLE_LANGUAGE=en

OPEN_CHARGE_API_MAX_RESULTS=20
OPEN_CHARGE_API_SEARCH_RADIUS=10