@import './partials/colors.scss';
@import './partials/mixins.scss';
@import './partials/bootstrap-overrides.scss';
@import './partials/vue-transitions.scss';

/* Styles */
[v-cloak] {
    display: none;
}

body {
    background-color: #4FB4A5;
    color: $dark-green;
}

h1,
h2.error-subhead {
    color: #fff;
}

.vue-map-container {
    position: relative;
    z-index: 5;
    margin: 20px 0;
    min-height: 500px;
}


button.btn.view-details {
    margin-top: 8px;
    width: 100%;
    background-color: $dark-green;
    padding: 14px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.125em;
    border: none;
}
