/* Define global colors */
$light-green: #4FB4A5;
$dark-green: #2a8474;
$light-grey: #888;
$off-white: #dfdce3;
$off-white-alt: #ebe8ed;

/* Mixins */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    /* Firefox 18- */
    ::-moz-placeholder {
        @content
    }
    /* Firefox 19+ */
    :-ms-input-placeholder {
        @content
    }
}

/* Bootstrap overrides */
.panel,
button.btn,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    @include border-radius(0);
}

button.btn:active,
button.btn:active:focus {
    background-color: $light-green;
    color: $off-white;
}

.panel {
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 1.025em;
}

/* Styles */
body {
    background-color: #4FB4A5;
    color: $dark-green;
}

#top-bar {
    background-color: #2a8474;
    height: 66px;
    padding: 8px 0;
    color: #fff;

    @include placeholder {
        color: $light-green;
    }

    a i.back-button {
        font-size: 3.75em;
        color: #fff;
    }

    h1#detail-name {
        font-weight: bold;
        font-size: 2.25em;
        margin: .25em 0 0 .25em;
    }
}

#map-container {
    margin: 20px 0;
    min-height: 500px;
}

.panel-result-preview {
    @include box-shadow(4px, 4px, 4px, rgba(63, 146, 161, 0.5));
    h3 {
        color: $dark-green;
        font-size: 1.125em;
        font-weight: bold;
        margin-top: 0.125em;
    }

    .row.quick-info {
        margin: 10px 0 5px 0;
        span {
            color: $light-grey;
        }
    }
}

.row.detail-row .panel {
    @include box-shadow(4px, 4px, 4px, rgba(63, 146, 161, 0.5));

    table.detail-list {
        width: 90%;
        margin: 0 auto;
        font-size: 1.185em;
    }

    td {
        padding: 3px 4px;
        vertical-align: top;
    }

    tr:nth-child(even) {
        background-color: $off-white-alt;
    }

    .panel-default {
        @include box-shadow(4px, 4px, 4px, rgba(63, 146, 161, 0.25));
        border: none;
    }
}

.row.detail-row .panel-body {
    min-height: 425px;
}

button.btn#view-map,
button.btn.view-details {
    margin-top: 8px;
    width: 100%;
    background-color: $dark-green;
    padding: 14px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.125em;
    border: none;
}

button.btn#view-map {
    margin: 3em 0;
}